:root {
    --HomeNavBG: rgba(89, 93, 98, 0.23);
    --white: #ffffff;
    --menuHover: #94979A;
    --NavBG: #595D62;
    --heroAshBG: #464B50;
    --arrowColor: #E8E8E8;
    --greenBG: #80B35A;
    --orangeBG: #F27634;
    --buyPlotAsh: #eeeeee;
}

body{
    font-family: $os;
}