@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

$light: 300;
$reg: 400;
$med: 500;
$sbold: 600;
$bold: 700;
$ebold: 800;

$os: 'Open Sans', sans-serif;