.navbar{
    padding: 0;
    height: 100%;

    .navbar-brand{
        padding: 0;
        img{
            max-width: 280px;
        }
    }
    
    .navbar-collapse{
        justify-content: flex-end;
    }
    
    .navbar-nav{
        li{
            padding: 0 !important;
            a{
                font-weight: $sbold;
                font-size: $fs + 5px;
                color: var( --white );
                text-decoration: none;
                padding: 32px 15px;

                &:hover{
                    background-color: var( --menuHover );
                }
            }
        }
    }
}