.query-card{
    padding: 50px 0 80px;
    background-color: var( --heroAshBG );

    .card{

        &.green{
            background-color: var(--greenBG);
        }

        &.ash{
            background-color: var( --cardAsh );
        }

        background-color: var(--orangeBG);
        text-align: center;
        border-radius: 0;
        border: 0;
        padding: 100px 0 80px;

        img{
            max-width: 100px;
            margin: 0 auto;
            padding: 0 0 30px;

            &.cubehaus{
                max-width: 200px;
                padding-top: 16px;
            }
        }

        .card-title{
            font-weight: $light;
            font-size: $fs + 15px;
            color: var( --white );
            padding-bottom: 40px;
        }

        .card-text{
            font-weight: $light;
            font-size: $fs;
            color: var( --white );
            padding: 0 40px 30px;
            margin-bottom: 0;
        }

    }
}